<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/java/workspaceIntellij/Class21_PageObjectModel">
        <classes>
            <class name="Test.VerifyCustomerIdAppearsinHomePage">
                <methods>
                    <include name="VerifyCustomerIdAppearsinHomePage"/>
                </methods>
            </class>
            <class name="Test.VerifyCustomerLoginFunctionality">
                <methods>
                    <include name="VerifyCustomerLoginFunctionality"/>
                </methods>
            </class>
            <class name="Test.VerifyEmployeeLoginFunctionality">
                <methods>
                    <include name="VerifyEmployeeLoginFunctionality"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>